<div id="<%= dom_id feedback %>">
  <p>
    <strong>Title:</strong>
    <%= feedback.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= feedback.body %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= feedback.email %>
  </p>

</div>
